In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
a database is a structural collection of data that is organised stored in a way that allow to efficient retrival, updating and management of information.database used in management large data.

In [ ]:
SQL-structured query language 
MySQL, PostgreSQL, Oracle, SQL Server are popular SQL databases.
NoSQL-not only structured query language
MongoDB (document-oriented), Cassandra (column-family), Redis (key-value), Neo4j (graph) are popular NoSQL databases.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for data definition language .it is subset of SQL(structured query language) it is used for defining managing relation database.

In [ ]:
CREATE TABLE table_name(c1 INT ,c2 VARCHAR(70) ,c3 FLOAT,)
DROP table
ALTER table
TRUNCATE table

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stand for data manipulation language .it is subset of SQL(structured query language) used for managing data relation database.

In [ ]:
INSERT INTO table_name(column1 ,column2);
value (value1 ,value2)

In [ ]:
UPDATE table_name
SET column1=value1 ,column2=value2

In [ ]:
DELETE from table_name

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.

In [ ]:
SELECT * from table_name

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
A primary key is a unique identifier for a record in a database table. It uniquely identifies each record in the table, ensuring that there are no duplicate values within the primary key column. Here are some key points about primary keys:
    1.uniqueness
    2.not null

In [ ]:
A foreign key is a field in a database table that is used to establish a link between two tables. It creates a relationship between the data in two tables and is used to match rows in the referencing table with the primary key columns in the referenced table. Here are the key points about foreign keys:
    1.reference a primary key
    2.maintains referential integrity

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
mysql.connector
mydb=mysql.connector.connect(
    host="localhost"
    user="abc"
    password="password"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASE")

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.